
*{
    margin: 0px;
    padding: 0px;
}
.header{

    background-color: white;
    padding-top: 15px;
    
}
nav{
   
   
   border: 2px black;
   margin: 0px auto;
   display: flex;
   justify-content: space-between;
}
.logo{
    padding-left: 50px;
    padding-top: -20px;
    
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 20px;
    padding-top: 10px;
}

nav .button{
    list-style: none;
    padding-right: 50px;
    padding-top: 10px;
    color: green;
    

}

nav .button button{
    color: black;
    background-color: green;
    border-radius: 5px;
    
    
}
nav .menu a{
    text-decoration: none;
    color: black;
}
        
