
*{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 92px;
    width: 1600px;

    background-color: white;
    padding-top: 15px;
    
}
nav{
   
   
   border: 2px black;
   margin: 0px auto;
   display: flex;
   justify-content: space-between;
}
.logo{
    padding-left: 50px;
    padding-top: -20px;
    
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 20px;
    padding-top: 10px;
}

nav .button{
    list-style: none;
    padding-right: 50px;
    padding-top: 10px;
    color: green;
    

}

nav .button button{
    color: black;
    background-color: green;
    border-radius: 5px;
}

nav .button button:hover{
    background-color: white;
}

nav .menu a{
    text-decoration: none;
    color: black;
}

#banner{
   width: 1600px; 
   height: 674px;
   padding-top: 250px;
   text-align: center;
   background-image: url("../images/hero-bg.png");
   background-repeat: no-repeat;

    
}
#banner .button2 button{
 background-color: white;
 color: green;
 border-radius: 50px;
 }  
#banner .button2 button:hover{
    background-color: red;
}
#banner .heading3{
    color: green; 
} 
#banner .button3 button{
    margin: 0px;
    color: white;
    padding-bottom: 7px;
    background-color: rgb(81, 182, 81);
    border-radius: 10px;
    padding-bottom: 0px;
    
}   


#banner .button3 button .btnicon {
    width: 20px;    /* icon width */
    height: 15px;   /* icon height */
    padding-top: 2px;
    
}

#banner .button3 button .btnicon1 {
    width: 20px;    /* icon width */
    height: 15px;   /* icon height */
    padding-top: 2px;
    color: white;
    
}

#notes{
    width: 1600px;
    height: 448px;
    text-align: center;
    padding-top: 700px;
    
    
}

.card{
    width: 150px;
    height: 150px;
    
    margin-top: -300px;
    margin-left: 350px;
    margin-right: 100px;
    border: 2px solid red;

    text-align: center;

    padding: 20px;
    padding-top: 60px;
    box-shadow: 10px 10px 10px black;
   
}

.card1{
    width: 150px;
    height: 150px;
    
    margin-top: -235px;
    margin-left: 600px;
    margin-right: 100px;
    border: 2px solid red;

    text-align: center;

    padding: 20px;
    padding-top: 60px;
    box-shadow: 10px 10px 10px black;
   
}

.card2{
    width: 150px;
    height: 150px;
    
    margin-top: -235px;
    margin-left: 850px;
    margin-right: 100px;
    border: 2px solid red;

    text-align: center;

    padding: 20px;
    padding-top: 60px;
    box-shadow: 10px 10px 10px black;
   
}
.card3{
    width: 150px;
    height: 150px;
    
    margin-top: -235px;
    margin-left: 1100px;
    margin-right: 100px;
    border: 2px solid red;

    text-align: center;

    padding: 20px;
    padding-top: 60px;
    box-shadow: 10px 10px 10px black;
   
}

.cardcontainer{
    display: flex;
   
}
#know{
    height: 840px;
    width: 1300px;
    padding: 300px;
    display: flex;
    justify-content: space-between;
}

#know .desc{
    padding: 50px;
   
}

#know .cap{
    list-style: none;
}

#ready{
    width: 1000px;
    height: 200px;
    margin-left: 100px;
    margin-top: -400px;
    background-color: rgb(240, 235, 227);
    
    border: 2px solid white;
    padding-left: 200px;
    
    padding-right: 200px;
    padding-bottom: 200px;
}

#ready .join{
    width: 500px;
    height: 300px;
    text-align: center;
    padding-left: 300px;
    padding-top: 150px;

}

#ready .get{
    height: 20px;
    width: 150px;
    background-color: green;
    color: white;
    font-size: 15px;
    padding-bottom: 25px;
    border-radius: 10px;
}
#ready .get img{
    width: 15px;
    height: 15px;
}
#ready .get:hover {
    background-color: skyblue;
}
#foot{
    width: 1600px;
    height: 300px;
    background-color: rgb(15, 15, 46);
    margin-top: 100px;
    display: flex;
   
}

#foot .social img {
    width: 70px;   /* change size here */
    height: 70px;
    margin-right: 10px; /* space between icons */
    background-color: white;
    margin: -800px 1200px 0px 800px;
    
}
.face{
    color: white;
    padding-top: 100px;
    padding-left: 1000px;
}

.blue{
    padding: 100px;
}